### Childhood Autistic Spectrum Disorder Screening using Machine Learning



![title](unnamed.jpg)

Autism spectrum disorder (ASD) refers to a range of conditions characterised by some degree of impaired social behaviour, communication and language, and a narrow range of interests and activities that are both unique to the individual and carried out repetitively.

ASDs begin in childhood and tend to persist into adolescence and adulthood. In most cases the conditions are apparent during the first 5 years of life.

Individuals with ASD often present other co-occurring conditions, including epilepsy, depression, anxiety and attention deficit hyperactivity disorder (ADHD). The level of intellectual functioning in individuals with ASDs is extremely variable, extending from profound impairment to superior levels.

![title](20192020graph.jpg)

This graph above shows that the symptoms of this disorder is also see to be grater amongst students as well over the years. So it is important look into this at a young age itself.

![title](AutismAwareness2stats.jpg)

The early diagnosis of neurodevelopment disorders can improve treatment and significantly decrease the associated 
healthcare costs. In this project, i have used supervised learning classification algorithem to diagnose Autistic Spectrum Disorder 
(ASD) based on behavioural features and individual characteristics. More specifically, we will build and deploy a neural network using the Keras API. 

This project will use a dataset provided by the UCI Machine Learning Repository that contains screening data for 292 patients. The dataset can be found at the following URL: 
https://archive.ics.uci.edu/ml/datasets/Autistic+Spectrum+Disorder+Screening+Data+for+Children++

In [1]:
import sys
import pandas as pd
import numpy as np
import os

### Importing the Dataset

Original the Dataset dosent contain a CSV fotmat of data i have manually converted it and placed in the file structure for the project

In [2]:
# import the dataset
data =pd.read_csv('Autism-Child-Data.csv')

In [3]:
# It print the shape of the DataFrame, so we can see how many examples we have
print ('Shape of DataFrame: {}'.format(data.shape))
print (data.loc[0])

Shape of DataFrame: (292, 22)
id                          1
A1_Score                    1
A2_Score                    1
A3_Score                    0
A4_Score                    0
A5_Score                    1
A6_Score                    1
A7_Score                    0
A8_Score                    1
A9_Score                    0
A10_Score                   0
age                         6
gender                      m
ethnicity              Others
jundice                    no
austim                     no
contry_of_res          Jordan
used_app_before            no
result                      5
age_desc           4-11 years
relation               Parent
Class/ASD                  NO
Name: 0, dtype: object

In [4]:
# This print out multiple patients at the same time
data.loc[:10]

,id,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,...,gender,ethnicity,jundice,austim,contry_of_res,used_app_before,result,age_desc,relation,Class/ASD
0,1,1,1,0,0,1,1,0,1,0,...,m,Others,no,no,Jordan,no,5,4-11 years,Parent,NO
1,2,1,1,0,0,1,1,0,1,0,...,m,Middle Eastern,no,no,Jordan,no,5,4-11 years,Parent,NO
2,3,1,1,0,0,0,1,1,1,0,...,m,?,no,no,Jordan,yes,5,4-11 years,?,NO
3,4,0,1,0,0,1,1,0,0,0,...,f,?,yes,no,Jordan,no,4,4-11 years,?,NO
4,5,1,1,1,1,1,1,1,1,1,...,m,Others,yes,no,United States,no,10,4-11 years,Parent,YES
5,6,0,0,1,0,1,1,0,1,0,...,m,?,no,yes,Egypt,no,5,4-11 years,?,NO
6,7,1,0,1,1,1,1,0,1,0,...,m,White-European,no,no,United Kingdom,no,7,4-11 years,Parent,YES
7,8,1,1,1,1,1,1,1,1,0,...,f,Middle Eastern,no,no,Bahrain,no,8,4-11 years,Parent,YES
8,9,1,1,1,1,1,1,1,0,0,...,f,Middle Eastern,no,no,Bahrain,no,7,4-11 years,Parent,YES
9,10,0,0,1,1,1,0,1,1,0,...,f,?,no,yes,Austria,no,5,4-11 years,?,NO
10,11,1,0,0,0,1,1,1,1,1,...,m,White-European,yes,no,United Kingdom,no,7,4-11 years,Self,YES

In [5]:
# This will print out a description of the dataframe
data.describe()

,id,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,result
count,292.000000,292.000000,292.000000,292.000000,292.000000,292.000000,292.000000,292.000000,292.000000,292.000000,292.000000,292.000000
mean,146.500000,0.633562,0.534247,0.743151,0.551370,0.743151,0.712329,0.606164,0.496575,0.493151,0.726027,6.239726
std,84.437354,0.482658,0.499682,0.437646,0.498208,0.437646,0.453454,0.489438,0.500847,0.500811,0.446761,2.284882
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,73.750000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000
50%,146.500000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,1.000000,6.000000
75%,219.250000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,8.000000
max,292.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,10.000000

### Data Preprocessing

This dataset require multiple preprocessing processes. First, i  have removed columns in the DataFrame (attributes) that are not needed when training our neural network. I have drop columns first. Secondly, much of our data is reported using strings; as a result,  i have converted data to categorical labels. During preprocessing, i have split the dataset into X and Y  from datasets, where X has all of the attributes we want to use for prediction and Y has the class labels.

In [6]:
# drop unwanted columns
data = data.drop(['result', 'age_desc','id'], axis=1)

In [7]:
data.loc[:10]

,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,age,gender,ethnicity,jundice,austim,contry_of_res,used_app_before,relation,Class/ASD
0,1,1,0,0,1,1,0,1,0,0,6,m,Others,no,no,Jordan,no,Parent,NO
1,1,1,0,0,1,1,0,1,0,0,6,m,Middle Eastern,no,no,Jordan,no,Parent,NO
2,1,1,0,0,0,1,1,1,0,0,6,m,?,no,no,Jordan,yes,?,NO
3,0,1,0,0,1,1,0,0,0,1,5,f,?,yes,no,Jordan,no,?,NO
4,1,1,1,1,1,1,1,1,1,1,5,m,Others,yes,no,United States,no,Parent,YES
5,0,0,1,0,1,1,0,1,0,1,4,m,?,no,yes,Egypt,no,?,NO
6,1,0,1,1,1,1,0,1,0,1,5,m,White-European,no,no,United Kingdom,no,Parent,YES
7,1,1,1,1,1,1,1,1,0,0,5,f,Middle Eastern,no,no,Bahrain,no,Parent,YES
8,1,1,1,1,1,1,1,0,0,0,11,f,Middle Eastern,no,no,Bahrain,no,Parent,YES
9,0,0,1,1,1,0,1,1,0,0,11,f,?,no,yes,Austria,no,?,NO
10,1,0,0,0,1,1,1,1,1,1,10,m,White-European,yes,no,United Kingdom,no,Self,YES

In [8]:
# Process of creating X and Y datasets for training

x = data.drop(['Class/ASD'], 1)
y = data['Class/ASD']

In [9]:
x.loc[:10]

,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,age,gender,ethnicity,jundice,austim,contry_of_res,used_app_before,relation
0,1,1,0,0,1,1,0,1,0,0,6,m,Others,no,no,Jordan,no,Parent
1,1,1,0,0,1,1,0,1,0,0,6,m,Middle Eastern,no,no,Jordan,no,Parent
2,1,1,0,0,0,1,1,1,0,0,6,m,?,no,no,Jordan,yes,?
3,0,1,0,0,1,1,0,0,0,1,5,f,?,yes,no,Jordan,no,?
4,1,1,1,1,1,1,1,1,1,1,5,m,Others,yes,no,United States,no,Parent
5,0,0,1,0,1,1,0,1,0,1,4,m,?,no,yes,Egypt,no,?
6,1,0,1,1,1,1,0,1,0,1,5,m,White-European,no,no,United Kingdom,no,Parent
7,1,1,1,1,1,1,1,1,0,0,5,f,Middle Eastern,no,no,Bahrain,no,Parent
8,1,1,1,1,1,1,1,0,0,0,11,f,Middle Eastern,no,no,Bahrain,no,Parent
9,0,0,1,1,1,0,1,1,0,0,11,f,?,no,yes,Austria,no,?
10,1,0,0,0,1,1,1,1,1,1,10,m,White-European,yes,no,United Kingdom,no,Self

In [10]:
# to convert the data to categorical values useing one-hot-encoded vectors
X = pd.get_dummies(x)

In [11]:
# printing the new categorical column labels
X.columns.values

array(['A1_Score', 'A2_Score', 'A3_Score', 'A4_Score', 'A5_Score',
       'A6_Score', 'A7_Score', 'A8_Score', 'A9_Score', 'A10_Score',
       'age_10', 'age_11', 'age_4', 'age_5', 'age_6', 'age_7', 'age_8',
       'age_9', 'age_?', 'gender_f', 'gender_m', 'ethnicity_?',
       'ethnicity_Asian', 'ethnicity_Black', 'ethnicity_Hispanic',
       'ethnicity_Latino', 'ethnicity_Middle Eastern ',
       'ethnicity_Others', 'ethnicity_Pasifika', 'ethnicity_South Asian',
       'ethnicity_Turkish', 'ethnicity_White-European', 'jundice_no',
       'jundice_yes', 'austim_no', 'austim_yes',
       'contry_of_res_Afghanistan', 'contry_of_res_Argentina',
       'contry_of_res_Armenia', 'contry_of_res_Australia',
       'contry_of_res_Austria', 'contry_of_res_Bahrain',
       'contry_of_res_Bangladesh', 'contry_of_res_Bhutan',
       'contry_of_res_Brazil', 'contry_of_res_Bulgaria',
       'contry_of_res_Canada', 'contry_of_res_China',
       'contry_of_res_Costa Rica', 'contry_of_res_Egypt',
       'contry_of_res_Europe', 'contry_of_res_Georgia',
       'contry_of_res_Germany', 'contry_of_res_Ghana',
       'contry_of_res_India', 'contry_of_res_Iraq',
       'contry_of_res_Ireland', 'contry_of_res_Isle of Man',
       'contry_of_res_Italy', 'contry_of_res_Japan',
       'contry_of_res_Jordan', 'contry_of_res_Kuwait',
       'contry_of_res_Latvia', 'contry_of_res_Lebanon',
       'contry_of_res_Libya', 'contry_of_res_Malaysia',
       'contry_of_res_Malta', 'contry_of_res_Mexico',
       'contry_of_res_Nepal', 'contry_of_res_Netherlands',
       'contry_of_res_New Zealand', 'contry_of_res_Nigeria',
       'contry_of_res_Oman', 'contry_of_res_Pakistan',
       'contry_of_res_Philippines', 'contry_of_res_Qatar',
       'contry_of_res_Romania', 'contry_of_res_Russia',
       'contry_of_res_Saudi Arabia', 'contry_of_res_South Africa',
       'contry_of_res_South Korea', 'contry_of_res_Sweden',
       'contry_of_res_Syria', 'contry_of_res_Turkey',
       'contry_of_res_U.S. Outlying Islands',
       'contry_of_res_United Arab Emirates',
       'contry_of_res_United Kingdom', 'contry_of_res_United States',
       'used_app_before_no', 'used_app_before_yes', 'relation_?',
       'relation_Health care professional', 'relation_Parent',
       'relation_Relative', 'relation_Self', 'relation_self'],
      dtype=object)

In [12]:
# printing the example patient from the categorical data
X.loc[1]

A1_Score                             1
A2_Score                             1
A3_Score                             0
A4_Score                             0
A5_Score                             1
                                    ..
relation_Health care professional    0
relation_Parent                      1
relation_Relative                    0
relation_Self                        0
relation_self                        0
Name: 1, Length: 96, dtype: int64

In [13]:
# converting the class data to categorical values - one-hot-encoded vectors
print(y)
Y = pd.get_dummies(y)#,drop_first=True)

0       NO
1       NO
2       NO
3       NO
4      YES
      ...
287    YES
288     NO
289    YES
290    YES
291     NO
Name: Class/ASD, Length: 292, dtype: object

In [14]:
Y.iloc[:10,]

   NO  YES
0   1    0
1   1    0
2   1    0
3   1    0
4   0    1
5   1    0
6   0    1
7   0    1
8   0    1
9   1    0

### Split the Dataset into Training and Testing Datasets

Before training our neural network, the spliting of dataset into training and testing datasets need to be done. This will allow us to test our network after we are done training to determine how well it will generalize to new data. This step is incredibly easy when using the train_test_split() function present in scikit-learn!

In [15]:
from sklearn import model_selection
# split the X and Y data into training and testing datasets
X_train, X_test, Y_train, Y_test = model_selection.train_test_split(X,Y, test_size = 0.2)
print(Y_train)

     NO  YES
135   1    0
41    1    0
54    1    0
256   1    0
220   0    1
..   ..  ...
66    1    0
194   1    0
99    1    0
272   1    0
116   0    1

[233 rows x 2 columns]

In [16]:
print(X_train.shape)
print(X_test.shape)
print(Y_train.shape)
print(Y_test.shape)

(233, 96)
(59, 96)
(233, 2)
(59, 2)

### Building the Network - Keras

In this project, i have used Keras to build and train the network. This model will be relatively simple and will only use dense (also known as fully connected) layers. This is the most common neural network layer. The network will have one hidden layer, use an Adam optimizer, and a categorical crossentropy loss.

In [17]:
#  Building the Network with Keras

from keras.models import Sequential
from keras.layers import Dense, Dropout,Activation
from keras.optimizers import Adam

# # define a function to build the keras model
# def create_model():
    # create model
model = Sequential()
model.add(Dense(8, input_dim=96, kernel_initializer='normal', activation='relu'))
model.add(Dense(4, kernel_initializer='normal', activation='relu'))
model.add(Dense(2, activation='sigmoid'))
model.add(Dropout(0.25))
model.add(Activation('softmax'))
# compile model
adam = Adam(lr=0.001)
model.compile(loss='categorical_crossentropy', optimizer=adam, metrics=['accuracy'])
# return model


print(model.summary())

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 8)                 776
_________________________________________________________________
dense_1 (Dense)              (None, 4)                 36
_________________________________________________________________
dense_2 (Dense)              (None, 2)                 10
_________________________________________________________________
dropout (Dropout)            (None, 2)                 0
_________________________________________________________________
activation (Activation)      (None, 2)                 0
=================================================================
Total params: 822
Trainable params: 822
Non-trainable params: 0
_________________________________________________________________
None

### Training the Network

Now it's time to train, Training a Keras model is as simple as calling model.fit().

In [18]:
# fit the model to the training data
model.fit(X_train, Y_train, epochs=100, batch_size=15, verbose = 1)

Epoch 1/100
16/16 [==============================] - 0s 2ms/step - loss: 0.6996 - accuracy: 0.5150
Epoch 2/100
16/16 [==============================] - 0s 1ms/step - loss: 0.6927 - accuracy: 0.5579
Epoch 3/100
16/16 [==============================] - 0s 2ms/step - loss: 0.6904 - accuracy: 0.5665
Epoch 4/100
16/16 [==============================] - 0s 2ms/step - loss: 0.7184 - accuracy: 0.4936
Epoch 5/100
16/16 [==============================] - 0s 2ms/step - loss: 0.7134 - accuracy: 0.5107
Epoch 6/100
16/16 [==============================] - 0s 2ms/step - loss: 0.7228 - accuracy: 0.4721
Epoch 7/100
16/16 [==============================] - 0s 1ms/step - loss: 0.7154 - accuracy: 0.5322
Epoch 8/100
16/16 [==============================] - 0s 1ms/step - loss: 0.7115 - accuracy: 0.5837
Epoch 9/100
16/16 [==============================] - 0s 2ms/step - loss: 0.7025 - accuracy: 0.6137
Epoch 10/100
16/16 [==============================] - 0s 2ms/step - loss: 0.6988 - accuracy: 0.5966
Epoch 11/100
16/16 [==============================] - 0s 2ms/step - loss: 0.6747 - accuracy: 0.6137
Epoch 12/100
16/16 [==============================] - 0s 2ms/step - loss: 0.6670 - accuracy: 0.6180
Epoch 13/100
16/16 [==============================] - 0s 2ms/step - loss: 0.6545 - accuracy: 0.6352
Epoch 14/100
16/16 [==============================] - 0s 2ms/step - loss: 0.6485 - accuracy: 0.6309
Epoch 15/100
16/16 [==============================] - 0s 2ms/step - loss: 0.6255 - accuracy: 0.6738
Epoch 16/100
16/16 [==============================] - 0s 2ms/step - loss: 0.6321 - accuracy: 0.6352
Epoch 17/100
16/16 [==============================] - 0s 2ms/step - loss: 0.6028 - accuracy: 0.6824
Epoch 18/100
16/16 [==============================] - 0s 2ms/step - loss: 0.5919 - accuracy: 0.7210
Epoch 19/100
16/16 [==============================] - 0s 2ms/step - loss: 0.5890 - accuracy: 0.6824
Epoch 20/100
16/16 [==============================] - 0s 2ms/step - loss: 0.5700 - accuracy: 0.7339
Epoch 21/100
16/16 [==============================] - 0s 2ms/step - loss: 0.5879 - accuracy: 0.6695
Epoch 22/100
16/16 [==============================] - 0s 2ms/step - loss: 0.5848 - accuracy: 0.6781
Epoch 23/100
16/16 [==============================] - 0s 1ms/step - loss: 0.5672 - accuracy: 0.7382
Epoch 24/100
16/16 [==============================] - 0s 2ms/step - loss: 0.5697 - accuracy: 0.7210
Epoch 25/100
16/16 [==============================] - 0s 2ms/step - loss: 0.5325 - accuracy: 0.7511
Epoch 26/100
16/16 [==============================] - 0s 2ms/step - loss: 0.5234 - accuracy: 0.7554
Epoch 27/100
16/16 [==============================] - 0s 2ms/step - loss: 0.5066 - accuracy: 0.8026
Epoch 28/100
16/16 [==============================] - 0s 2ms/step - loss: 0.5367 - accuracy: 0.7425
Epoch 29/100
16/16 [==============================] - 0s 1ms/step - loss: 0.5122 - accuracy: 0.7511
Epoch 30/100
16/16 [==============================] - 0s 1ms/step - loss: 0.5294 - accuracy: 0.7167
Epoch 31/100
16/16 [==============================] - 0s 1ms/step - loss: 0.5221 - accuracy: 0.7382
Epoch 32/100
16/16 [==============================] - 0s 1ms/step - loss: 0.5123 - accuracy: 0.7554
Epoch 33/100
16/16 [==============================] - 0s 997us/step - loss: 0.5029 - accuracy: 0.7597
Epoch 34/100
16/16 [==============================] - 0s 997us/step - loss: 0.4912 - accuracy: 0.7854
Epoch 35/100
16/16 [==============================] - 0s 1ms/step - loss: 0.5024 - accuracy: 0.7725
Epoch 36/100
16/16 [==============================] - 0s 997us/step - loss: 0.4924 - accuracy: 0.7468
Epoch 37/100
16/16 [==============================] - 0s 935us/step - loss: 0.4937 - accuracy: 0.7682
Epoch 38/100
16/16 [==============================] - 0s 1ms/step - loss: 0.4851 - accuracy: 0.7597
Epoch 39/100
16/16 [==============================] - 0s 1ms/step - loss: 0.4811 - accuracy: 0.7597
Epoch 40/100
16/16 [==============================] - 0s 1ms/step - loss: 0.4719 - accuracy: 0.7597
Epoch 41/100
16/16 [==============================] - 0s 2ms/step - loss: 0.4640 - accuracy: 0.7897
Epoch 42/100
16/16 [==============================] - 0s 2ms/step - loss: 0.4546 - accuracy: 0.8112
Epoch 43/100
16/16 [==============================] - 0s 1ms/step - loss: 0.4599 - accuracy: 0.7768
Epoch 44/100
16/16 [==============================] - 0s 2ms/step - loss: 0.4501 - accuracy: 0.7768
Epoch 45/100
16/16 [==============================] - 0s 2ms/step - loss: 0.4490 - accuracy: 0.7725
Epoch 46/100
16/16 [==============================] - 0s 2ms/step - loss: 0.4287 - accuracy: 0.8369
Epoch 47/100
16/16 [==============================] - 0s 1ms/step - loss: 0.4355 - accuracy: 0.7725
Epoch 48/100
16/16 [==============================] - 0s 2ms/step - loss: 0.4427 - accuracy: 0.7768
Epoch 49/100
16/16 [==============================] - 0s 2ms/step - loss: 0.4333 - accuracy: 0.7768
Epoch 50/100
16/16 [==============================] - 0s 2ms/step - loss: 0.4357 - accuracy: 0.7897
Epoch 51/100
16/16 [==============================] - 0s 1ms/step - loss: 0.4422 - accuracy: 0.7597
Epoch 52/100
16/16 [==============================] - 0s 1ms/step - loss: 0.4377 - accuracy: 0.7382
Epoch 53/100
16/16 [==============================] - 0s 1ms/step - loss: 0.4206 - accuracy: 0.7897
Epoch 54/100
16/16 [==============================] - 0s 1ms/step - loss: 0.4445 - accuracy: 0.7167
Epoch 55/100
16/16 [==============================] - 0s 2ms/step - loss: 0.4236 - accuracy: 0.7725
Epoch 56/100
16/16 [==============================] - 0s 2ms/step - loss: 0.4191 - accuracy: 0.7597
Epoch 57/100
16/16 [==============================] - 0s 2ms/step - loss: 0.4382 - accuracy: 0.7511
Epoch 58/100
16/16 [==============================] - 0s 1ms/step - loss: 0.4107 - accuracy: 0.7639
Epoch 59/100
16/16 [==============================] - 0s 1ms/step - loss: 0.4057 - accuracy: 0.7597
Epoch 60/100
16/16 [==============================] - 0s 2ms/step - loss: 0.4133 - accuracy: 0.7511
Epoch 61/100
16/16 [==============================] - 0s 2ms/step - loss: 0.3981 - accuracy: 0.7682
Epoch 62/100
16/16 [==============================] - 0s 1ms/step - loss: 0.4000 - accuracy: 0.7983
Epoch 63/100
16/16 [==============================] - 0s 1ms/step - loss: 0.3963 - accuracy: 0.7768
Epoch 64/100
16/16 [==============================] - 0s 1ms/step - loss: 0.3839 - accuracy: 0.7811
Epoch 65/100
16/16 [==============================] - 0s 997us/step - loss: 0.3901 - accuracy: 0.7811
Epoch 66/100
16/16 [==============================] - 0s 1ms/step - loss: 0.4027 - accuracy: 0.7854
Epoch 67/100
16/16 [==============================] - 0s 1ms/step - loss: 0.3675 - accuracy: 0.8069
Epoch 68/100
16/16 [==============================] - 0s 2ms/step - loss: 0.3645 - accuracy: 0.8112
Epoch 69/100
16/16 [==============================] - 0s 2ms/step - loss: 0.3833 - accuracy: 0.7768
Epoch 70/100
16/16 [==============================] - 0s 2ms/step - loss: 0.3812 - accuracy: 0.7854
Epoch 71/100
16/16 [==============================] - 0s 2ms/step - loss: 0.3761 - accuracy: 0.7983
Epoch 72/100
16/16 [==============================] - 0s 2ms/step - loss: 0.3627 - accuracy: 0.8369
Epoch 73/100
16/16 [==============================] - 0s 2ms/step - loss: 0.3793 - accuracy: 0.7897
Epoch 74/100
16/16 [==============================] - 0s 2ms/step - loss: 0.3594 - accuracy: 0.8112
Epoch 75/100
16/16 [==============================] - 0s 2ms/step - loss: 0.3974 - accuracy: 0.7425
Epoch 76/100
16/16 [==============================] - 0s 2ms/step - loss: 0.3745 - accuracy: 0.7554
Epoch 77/100
16/16 [==============================] - 0s 2ms/step - loss: 0.3493 - accuracy: 0.8541
Epoch 78/100
16/16 [==============================] - 0s 1ms/step - loss: 0.3451 - accuracy: 0.8412
Epoch 79/100
16/16 [==============================] - 0s 2ms/step - loss: 0.3741 - accuracy: 0.7725
Epoch 80/100
16/16 [==============================] - 0s 2ms/step - loss: 0.3543 - accuracy: 0.8112
Epoch 81/100
16/16 [==============================] - 0s 1ms/step - loss: 0.3871 - accuracy: 0.7296
Epoch 82/100
16/16 [==============================] - 0s 1ms/step - loss: 0.3679 - accuracy: 0.7725
Epoch 83/100
16/16 [==============================] - 0s 1ms/step - loss: 0.3716 - accuracy: 0.7897
Epoch 84/100
16/16 [==============================] - 0s 1ms/step - loss: 0.3779 - accuracy: 0.7597
Epoch 85/100
16/16 [==============================] - 0s 997us/step - loss: 0.3643 - accuracy: 0.7854
Epoch 86/100
16/16 [==============================] - 0s 1ms/step - loss: 0.3789 - accuracy: 0.7468
Epoch 87/100
16/16 [==============================] - 0s 1ms/step - loss: 0.3701 - accuracy: 0.7897
Epoch 88/100
16/16 [==============================] - 0s 1ms/step - loss: 0.3338 - accuracy: 0.8541
Epoch 89/100
16/16 [==============================] - 0s 1ms/step - loss: 0.3389 - accuracy: 0.8197
Epoch 90/100
16/16 [==============================] - 0s 1ms/step - loss: 0.3401 - accuracy: 0.8240
Epoch 91/100
16/16 [==============================] - 0s 1ms/step - loss: 0.3556 - accuracy: 0.7811
Epoch 92/100
16/16 [==============================] - 0s 1ms/step - loss: 0.3676 - accuracy: 0.7554
Epoch 93/100
16/16 [==============================] - 0s 997us/step - loss: 0.3567 - accuracy: 0.8026
Epoch 94/100
16/16 [==============================] - 0s 1ms/step - loss: 0.3444 - accuracy: 0.8240
Epoch 95/100
16/16 [==============================] - 0s 1ms/step - loss: 0.3706 - accuracy: 0.7682
Epoch 96/100
16/16 [==============================] - 0s 810us/step - loss: 0.3544 - accuracy: 0.7897
Epoch 97/100
16/16 [==============================] - 0s 748us/step - loss: 0.3535 - accuracy: 0.7940
Epoch 98/100
16/16 [==============================] - 0s 748us/step - loss: 0.3579 - accuracy: 0.7639
Epoch 99/100
16/16 [==============================] - 0s 810us/step - loss: 0.3790 - accuracy: 0.7468
Epoch 100/100
16/16 [==============================] - 0s 935us/step - loss: 0.3503 - accuracy: 0.8069

### Testing and Performance Metrics

Now that the model has been trained, the test of its performance on the testing dataset need to be performed. The model has never seen this information before; as a result, the testing dataset allows us to determine whether or not the model will be able to generalize to information that wasn't used during its training phase. We will use some of the metrics provided by scikit-learn to do this.

In [19]:
# generate classification report using predictions for categorical model
from sklearn.metrics import classification_report, accuracy_score

predictions = model.predict_classes(X_test)
predictions

WARNING:tensorflow:From <ipython-input-19-f2a53f8d1c57>:4: Sequential.predict_classes (from tensorflow.python.keras.engine.sequential) is deprecated and will be removed after 2021-01-01.
Instructions for updating:
Please use instead:* `np.argmax(model.predict(x), axis=-1)`,   if your model does multi-class classification   (e.g. if it uses a `softmax` last-layer activation).* `(model.predict(x) > 0.5).astype("int32")`,   if your model does binary classification   (e.g. if it uses a `sigmoid` last-layer activation).

array([0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0,
       1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1], dtype=int64)

In [20]:
print('Results for Categorical Model')
print(accuracy_score(Y_test[['YES']], predictions))
print(classification_report(Y_test[['YES']], predictions))

Results for Categorical Model
0.9491525423728814
              precision    recall  f1-score   support

           0       0.93      0.96      0.95        28
           1       0.97      0.94      0.95        31

    accuracy                           0.95        59
   macro avg       0.95      0.95      0.95        59
weighted avg       0.95      0.95      0.95        59

## This disorder even though it is also seen in adults the chances of it getting known is much better compared to infants and kids  incomparison, so i belive that that this project of mine shall be of some use and shall bring awareness amongst people in ower nation.
# Thank You